---
import Layout from "../layouts/Layout.astro";

const links: { href: string; title: string }[] = [
    {
        href: "https://instagram.com/andriishafar",
        title: "Instagram",
    },
    {
        href: "https://x.com/reidond69",
        title: "X",
    },
    {
        href: "https://github.com/Reidond",
        title: "GitHub",
    },
    {
        href: "https://gitlab.com/Reidond",
        title: "GitLab",
    },
];

const contactLinks: { href: string; text: string }[] = [
    {
        href: "mailto:andreyshafar@gmail.com",
        text: "Personal",
    },
    {
        href: "mailto:andrii.shafar@uzhnu.edu.ua",
        text: "UzhNU",
    },
];
---

<Layout title="Andrii Shafar">
    <main>
        <h1>Andrii Shafar</h1>
        <p>Here are all my social links:</p>
        <ul>
            {
                links.map((link) => (
                    <li>
                        <a href={link.href} target="_blank">
                            {link.title}
                        </a>
                    </li>
                ))
            }
        </ul>
        <p>You can contact me via:</p>
        <ul>
            {
                contactLinks.map((link) => (
                    <li>
                        <a href={link.href} target="_blank">
                            {link.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
