---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import type { CardLinkProps } from "../components/CardLink.astro";
import type { ContactMeProps } from "../components/ContactMe.astro";

const links: CardLinkProps[] = [
    {
        href: "https://instagram.com/andriishafar",
        title: "Instagram",
        iconName: "mdi:instagram",
    },
    {
        href: "https://twitter.com/reidond69",
        title: "Twitter",
        iconName: "mdi:twitter",
    },
    {
        href: "https://github.com/Reidond",
        title: "GitHub",
        iconName: "mdi:github",
    },
    {
        href: "https://gitlab.com/Reidond",
        title: "GitLab",
        iconName: "mdi:gitlab",
    },
];

const contactLinks: ContactMeProps[] = [
    {
        href: "mailto:andriishafar69@gmail.com",
        text: "Personal Mail",
        iconName: "mdi:email",
    },
    {
        href: "mailto:shafar.andrii@student.uzhnu.edu.ua",
        text: "UzhNU Mail",
        iconName: "mdi:email",
    },
];
---

<Layout title="Welcome to My Personal Site!">
    <main>
        <h1>Welcome to <span class="text-gradient">My Personal Site!</span></h1>
        <p class="instructions">
            Here are all my social links and contact emails!
        </p>
        <div class="link-card-grid">
            <Card links={links} contactLinks={contactLinks} />
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }
    .instructions strong {
        color: rgb(var(--accent));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
