---
import { Icon } from "astro-icon";

export type CardLinkProps = {
    title: string;
    href: string;
    description?: string;
    iconName?: string;
};

export interface Props extends CardLinkProps {}

const { title, href, iconName, description } = Astro.props;
---

<div
    class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50"
>
    <div
        class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
    >
        {iconName && <Icon name={iconName} />}
    </div>
    <div class="flex-auto">
        <a
            href={href}
            target="_blank"
            class="block font-semibold text-gray-900"
        >
            {title}
            <span class="absolute inset-0"></span>
        </a>
        {description && <p class="mt-1 text-gray-600">{description}</p>}
    </div>
</div>

<style lang="css">
    [astro-icon] {
        @apply h-6 w-6 text-gray-600 group-hover:text-indigo-600;
        fill: currentColor;
    }
</style>
